<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Elija una Opción
    <ion-list>
      <ion-item>
        <button mat-raised-button [routerLink]="['/home']">Ingreso</button>
      </ion-item>
      <ion-item>
        <button mat-raised-button [routerLink]="['/login']">Ingreso</button>
      </ion-item>
      <ion-item>
        <button mat-raised-button [routerLink]="['/restablecer']">Restablecer Contraseña</button>
      </ion-item>
      <ion-item>
        <a href="">Generar código QR</a>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menu</ion-title>
      <ion-title>Correo:{{ correo }}</ion-title>
      
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> RegistrApp. </ion-content>
</div>